<div class="card col-md-6">
  <div class="card-body" *ngIf="customer">
    <div class="row">
      <div class="col-md-8">
        <span>Customer Reference Number</span>
      </div>
      <div class="col-md-4">
        <span>{{ customer.customerRefNo }}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <span>Customer Name</span>
      </div>
      <div class="col-md-4">
        <span>{{ customer.customerName }}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <span>Customer Phone Number</span>
      </div>
      <div class="col-md-4">
        <span>{{ customer.customerPhone }}</span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <form (submit)="onSavePayment()" [formGroup]="paymentForm">
      <div class="form-group">
        <label for="totalAmount" class="col-md-6 col-form-label">Total Amount</label>
        <input type="text" class="form-control" formControlName="totalAmount" name="totalAmount" id="totalAmount"
          [attr.disabled]="true">
      </div>
      <div class="form-group">
        <label for="paidAmount" class="col-md-6 col-form-label">Paid Amount</label>
        <input type="text" class="form-control" formControlName="paidAmount" name="paidAmount"
          (change)='updateDueAmount()' id="paidAmount">
      </div>
      <div class="form-group">
        <label for="dueAmount" class="col-md-6 col-form-label">Due Amount</label>
        <input name="dueAmount" class="form-control" type="text" id="dueAmount" formControlName="dueAmount"
          [attr.disabled]="true" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success" style="margin-top: 22px;">
          <span class="spinner-border spinner-border-sm" *ngIf="isLoading"></span>
          <span style="margin-left: 5px;">Submit</span>
        </button>
      </div>
    </form>
  </div>
</div>
