<div class="card">
  <div class="card-body">
    <form>
      <div class="row">
        <div class="col">
          <label for="name">Edit By Order/Dress Reference Number</label>
          <input type="text" name="customerName" class="form-control" id="customerName">
        </div>
        <div class="col">
          <button type="submit" class="btn btn-success" (click)="saveCustomer()" style="margin-top: 22px;">
            <span class="spinner-border spinner-border-sm" *ngIf="isLoading"></span>
            <span style="margin-left: 5px;">Edit</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="card col-md-6">
    <div class="card-body">
      <form>
        <div class="row">
          <div class="col">
            <label for="name">CRN</label>
            <input type="text" name="customerName" class="form-control" id="customerName">
          </div>
          <div class="col">
            <label for="alterEgo">Phone</label>
            <input type="text" name="customerPhone" class="form-control" id="customerPhone">
          </div>
          <div class="col">
            <label for="alterEgo">Phone</label>
            <input type="text" name="customerPhone" class="form-control" id="customerPhone">
          </div>
          <div class="col">
            <label for="alterEgo">Phone</label>
            <input type="text" name="customerPhone" class="form-control" id="customerPhone">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="alterEgo">Phone</label>
            <input type="text" name="customerPhone" class="form-control" id="customerPhone">
          </div>
          <div class="col">
            <label for="alterEgo">Phone</label>
            <input type="text" name="customerPhone" class="form-control" id="customerPhone">
          </div>
          <div class="col">
            <label for="alterEgo">Phone</label>
            <input type="text" name="customerPhone" class="form-control" id="customerPhone">
          </div>
          <div class="col">
            <label for="alterEgo">Phone</label>
            <input type="text" name="customerPhone" class="form-control" id="customerPhone">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="alterEgo">Phone</label>
            <input type="text" name="customerPhone" class="form-control" id="customerPhone">
          </div>
          <div class="col">
            <label for="alterEgo">Phone</label>
            <input type="text" name="customerPhone" class="form-control" id="customerPhone">
          </div>
          <div class="col">
            <label for="alterEgo">Phone</label>
            <input type="text" name="customerPhone" class="form-control" id="customerPhone">
          </div>
          <div class="col">
            <label for="alterEgo">Phone</label>
            <input type="text" name="customerPhone" class="form-control" id="customerPhone">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="alterEgo">Phone</label>
            <input type="text" name="customerPhone" class="form-control" id="customerPhone">
          </div>
          <div class="col">
            <label for="alterEgo">Phone</label>
            <input type="text" name="customerPhone" class="form-control" id="customerPhone">
          </div>
          <div class="col">
            <label for="alterEgo">Phone</label>
            <input type="text" name="customerPhone" class="form-control" id="customerPhone">
          </div>
          <div class="col">
            <label for="alterEgo">Phone</label>
            <input type="text" name="customerPhone" class="form-control" id="customerPhone">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button type="submit" class="btn btn-success" (click)="saveCustomer()" style="margin-top: 22px;">
              <span class="spinner-border spinner-border-sm" *ngIf="isLoading"></span>
              <span style="margin-left: 5px;">Proceed</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="card zoom-image col-md-6">
    <img src="assets/img/measurements-chart-1.jpg" alt="">
  </div>
</div>
