<div class="card">
  <div class="card-body">
    <form>
      <div class="row">
        <div class="col">
          <label for="name">Edit By Order/Dress Reference Number</label>
          <input type="text" name="customerName" class="form-control" id="customerName">
        </div>
        <div class="col">
          <button type="submit" class="btn btn-success" (click)="saveCustomer()" style="margin-top: 22px;">
            <span class="spinner-border spinner-border-sm" *ngIf="isLoading"></span>
            <span style="margin-left: 5px;">Edit</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="card col-md-6">
    <div class="card-body">
      <form #dressForm="ngForm" (submit)="onSubmit(this)">
        <div class="row" *ngFor="let chunks of dressParams">
          <div class="col" *ngFor="let dressParam of chunks">
            <label for="dressParam.name">{{dressParam.value}}</label>
            <input type="text" [(ngModel)]="dressParam.measurements" name="dressParam.name" class="form-control"
              id="dressParam.name">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="comments">Comments</label>
            <textarea rows="4" [(ngModel)]="comments" name="comments" class="form-control" id="comments"
              spellcheck="false"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button type="submit" class="btn btn-success" style="margin-top: 22px;">
              <span class="spinner-border spinner-border-sm" *ngIf="isLoading"></span>
              <span style="margin-left: 5px;">Proceed</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="card zoom-image col-md-6">
    <img src="assets/img/measurements-chart-1.jpg" alt="">
  </div>
</div>
