<ul ngbNav #nav="ngbNav" [(activeId)]="active" [destroyOnHide]="false" class="nav-tabs">
  <li [ngbNavItem]="1" [destroyOnHide]="true">
    <a ngbNavLink>Order</a>
    <ng-template ngbNavContent>
      <app-add-order></app-add-order>
      <app-list-order></app-list-order>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>Dress</a>
    <ng-template ngbNavContent>
      <app-measurements></app-measurements>
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <a ngbNavLink>Payment</a>
    <ng-template ngbNavContent let-active>

    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
