.example-full-width {
    margin-top: 10px;
    width: 100%;
}
.mat-button {
    margin-top: 10px;
    width: 100%;
    color: white;
    height: 40px;
    background-color: #3f51b5;
}
#background-img {
    position: relative;
    opacity: 0.65;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#background-img {
    height: 100%;
    background: url("../../../../assets/images/welcome-bg.jpg");
}
