<div fxFlex fxLayout="column" fxLayoutGap="5px">
    <mat-card>
        <mat-card-header>
            <mat-card-subtitle>Select Custom Template</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-chip-list #chipList aria-label="Templates selection" multiple>
                <mat-chip #c="matChip" *ngFor="let template of templates" [selectable]="true"
                    (click)="toggleSelection(c)">
                    <mat-icon *ngIf="c.selected">check</mat-icon>
                    {{template}}
                </mat-chip>
            </mat-chip-list>
        </mat-card-content>
    </mat-card>
    <mat-card *ngIf="isKurti">
        <mat-card-header>
            <mat-card-subtitle>Kurti</mat-card-subtitle>
            <button mat-icon-button fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
                <mat-icon (click)="onOpenOrder('Kurti')">
                    edit_note
                </mat-icon>
            </button>
        </mat-card-header>
        <mat-card-content>
            <div fxFlex fxLayoutAlign="start stretch" fxLayoutGap="15px">
                <table width="100" border="1" cellspacing="0" cellpadding="0" fxFlex>
                    <tr>
                        <th>Company</th>
                        <th>Contact</th>
                        <th>Country</th>
                      </tr>
                      <tr>
                        <td width="40%">Alfreds Futterkiste</td>
                        <td>Maria Anders</td>
                        <td>Germany</td>
                      </tr>
                      <tr>
                        <td width="40%">fwe fwer rfte</td>
                        <td>Maria Anders</td>
                        <td>Germany</td>
                      </tr>
                  </table>
                  <table width="100" border="1" cellspacing="0" cellpadding="0" fxFlex>
                    <tr>
                        <th>Company</th>
                        <th>Contact</th>
                        <th>Country</th>
                      </tr>
                      <tr>
                        <td width="40%">fwe fwer rfte</td>
                        <td>Maria Anders</td>
                        <td>Germany</td>
                      </tr>
                      <tr>
                        <td width="40%">fwe fwer rfte</td>
                        <td>Maria Anders</td>
                        <td>Germany</td>
                      </tr>
                  </table>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card *ngIf="isSalwar">
        <mat-card-header>
            <mat-card-subtitle>Salwar</mat-card-subtitle>
            <button mat-icon-button fxFlex fxLayout fxLayoutAlign="flex-end">
                <mat-icon (click)="toggleBadgeVisibility()">
                    edit_note
                </mat-icon>
            </button>
        </mat-card-header>
        <mat-card-content>
            Text content Salwar
        </mat-card-content>
    </mat-card>
    <mat-card *ngIf="isShirt">
        <mat-card-header>
            <mat-card-subtitle>Shirt</mat-card-subtitle>
            <button mat-icon-button fxFlex fxLayout fxLayoutAlign="flex-end">
                <mat-icon (click)="toggleBadgeVisibility()">
                    add
                </mat-icon>
            </button>
        </mat-card-header>
        <mat-card-content>
            Text content Shirt
        </mat-card-content>
    </mat-card>
    <mat-card *ngIf="isPant">
        <mat-card-header>
            <mat-card-subtitle>Pant</mat-card-subtitle>
            <button mat-icon-button fxFlex fxLayout fxLayoutAlign="flex-end">
                <mat-icon (click)="toggleBadgeVisibility()">
                    add
                </mat-icon>
            </button>
        </mat-card-header>
        <mat-card-content>
            Text content pant
        </mat-card-content>
    </mat-card>
</div>