<div class="card">
  <div class="card-body">
    <form>
      <div class="row">
        <div class="col">
          <label for="name">CRN</label>
          <input type="text" name="customerName" class="form-control" id="customerName">
        </div>
        <div class="col">
          <label for="alterEgo">Phone</label>
          <input type="text" name="customerPhone" class="form-control" id="customerPhone">
        </div>
        <div class="col">
          <label for="alterEgo">Estimated Delivery Date</label>
          <input type="date" name="customerPhone" class="form-control" id="customerPhone">
        </div>
        <div class="col">
          <button type="submit" class="btn btn-success" (click)="saveCustomer()" style="margin-top: 22px;">
            <span class="spinner-border spinner-border-sm" *ngIf="isLoading"></span>
            <span style="margin-left: 5px;">Proceed</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
