<div class="container col-md-4">
  <div class="card">
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="name">Customer Reference No</label>
          <input type="text" [(ngModel)]="customer.customerRefNo" name="customerRefNo" class="form-control"
            id="customerRefNo" disabled="true">
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" [(ngModel)]="customer.customerName" name="customerName" class="form-control"
            id="customerName">
        </div>
        <div class="form-group">
          <label for="alterEgo">Phone</label>
          <input type="text" [(ngModel)]="customer.customerPhone" name="customerPhone" class="form-control"
            id="customerPhone">
        </div>
        <div class="form-group">
          <label for="alterEgo">Email</label>
          <input type="email" [(ngModel)]="customer.customerEmail" name="customerEmail" class="form-control"
            id="customerEmail">
        </div>
        <div class="form-group">
          <label for="alterEgo">Address</label>
          <textarea rows="3" [(ngModel)]="customer.customerAddress" name="customerAddress" class="form-control"
            id="customerAddress"></textarea>
        </div>
        <button type="submit" class="btn btn-success" (click)="saveCustomer()">Save</button>
      </form>
    </div>
  </div>
</div>
