<div class="container">
  <div>
    <button type="submit" class="btn btn-success" (click)="addCustomer()">Add New
      Customer</button>
  </div>
  <div class="row">
    <div class="card card col-md-5">
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="name">Customer Reference No</label>
            <input type="text" [(ngModel)]="customer.customerRefNo" name="customerRefNo" class="form-control"
              id="customerRefNo" disabled="true">
          </div>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" [(ngModel)]="customer.customerName" name="customerName" class="form-control"
              id="customerName">
          </div>
          <div class="form-group">
            <label for="alterEgo">Phone</label>
            <input type="text" [(ngModel)]="customer.customerPhone" name="customerPhone" class="form-control"
              id="customerPhone">
          </div>
          <div class="form-group">
            <label for="alterEgo">Email</label>
            <input type="email" [(ngModel)]="customer.customerEmail" name="customerEmail" class="form-control"
              id="customerEmail">
          </div>
          <div class="form-group">
            <label for="alterEgo">Address</label>
            <textarea rows="3" [(ngModel)]="customer.customerAddress" name="customerAddress" class="form-control"
              id="customerAddress"></textarea>
          </div>
          <button type="submit" class="btn btn-success" (click)="saveCustomer()" [disabled]="!isAddCustomerEnabled">
            <span class="spinner-border spinner-border-sm" *ngIf="isLoading"></span>
            <span style="margin-left: 5px;">{{ displayButtonText }}</span>
          </button>
        </form>
      </div>
    </div>
    <div class="col-md-5">
      <div class="alert alert-success">
        <span>Details for <strong>John Watson</strong> has been saved successfully with<strong> CRN:
            KO1234</strong></span>
      </div>
      <div class="alert alert-danger">
        <span>Details for <strong>John Watson</strong> has been saved successfully with<strong> CRN:
            KO1234</strong></span>
      </div>
    </div>
  </div>
</div>
