<section class="signup-form">
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" [formGroup]="signupForm" (submit)="onSubmit(f)">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name"
                   type="text"
                   required
                   placeholder="Name">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email"
                   type="email"
                   required
                   placeholder="Email">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Phone</mat-label>
            <input matInput formControlName="phone"
                   type="text"
                   required
                   placeholder="Phone">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password"
                   type="password"
                   required
                   placeholder="Password">
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary">Submit</button>
    </form>
</section>