<mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>
    <input type="text" matInput placeholder="Name" value="" [(ngModel)]="name">
    <mat-icon matSuffix>person</mat-icon>
</mat-form-field>
<mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input type="email" matInput placeholder="Email" value="" [(ngModel)]="email">
    <mat-icon matSuffix>email</mat-icon>
</mat-form-field>
<mat-form-field class="example-full-width">
    <mat-label>Phone</mat-label>
    <input type="text" matInput placeholder="Phone" [(ngModel)]="phone">
    <mat-icon matSuffix>phone</mat-icon>
</mat-form-field>
<mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input type="password" matInput placeholder="Password" [(ngModel)]="password">
    <mat-icon matSuffix>vpn_key</mat-icon>
</mat-form-field>
<button mat-button color="primary" (click)="register()">Register</button>