<div class="wrapper" style="background-image: url('assets/img/login-and-registration/login-bg-4.jpg');">
  <div class="inner">
    <div class="image-holder">
      <img src="assets/img/login-and-registration/login.jpg" alt="">
    </div>
    <form *ngIf="isRegisterForm; else login">
      <div class="form-wrapper">
        <input type="text" placeholder="Full Name" class="form-control" [(ngModel)]="userRegistrationDetails.fullName"
          name="userRegistrationDetails.fullName" #fName="ngModel" required>
      </div>
      <div class="form-wrapper">
        <input type="text" placeholder="Login ID" class="form-control" [(ngModel)]="userRegistrationDetails.loginId"
          name="userRegistrationDetails.loginId" #logId="ngModel" required>
        <i class="zmdi zmdi-lock"></i>
      </div>
      <div class="form-wrapper">
        <input type="password" placeholder="Password" class="form-control"
          [(ngModel)]="userRegistrationDetails.password" name="userRegistrationDetails.password" #pswrd="ngModel"
          required>
        <i class="zmdi zmdi-lock"></i>
      </div>
      <div class="form-wrapper">
        <input type="text" placeholder="Phone" class="form-control" [(ngModel)]="userRegistrationDetails.phone"
          name="userRegistrationDetails.phone" #ph="ngModel" required>
        <i class="zmdi zmdi-lock"></i>
      </div>
      <div class="form-wrapper">
        <input type="text" placeholder="Email" class="form-control" [(ngModel)]="userRegistrationDetails.email"
          name="userRegistrationDetails.email" #mail="ngModel">
        <i class="zmdi zmdi-email"></i>
      </div>
      <div class="form-wrapper">
        <select id="" class="form-control" [(ngModel)]="userRegistrationDetails.gender"
          name="userRegistrationDetails.gender" #gen="ngModel" required>
          <option value="" disabled selected>Gender</option>
          <option value="M">Male</option>
          <option value="F">Female</option>
        </select>
        <i class="fa fa-caret-down" style="font-size: 10px"></i>
      </div>
      <button (click)="userRegistration()">Register
        <i class="zmdi zmdi-arrow-right"></i>
      </button>
      <div class="text-right" style="margin-top: 65px;">
        <a href="#" (click)="displayRegisterOrLoginForm($event)" id="login"> Login <i class="fa fa-arrow-right"></i></a>
      </div>
    </form>
    <ng-template #login>
      <form>
        <div class="form-wrapper">
          <input type="text" placeholder="Login ID" class="form-control" [(ngModel)]="loginCredentials.username"
            name="loginCredentials.username" #name="ngModel" required>
          <i class="zmdi zmdi-account"></i>
        </div>
        <div class="form-wrapper">
          <input type="password" placeholder="Password" class="form-control" [(ngModel)]="loginCredentials.password"
            name="loginCredentials.password" #pass="ngModel" required>
          <i class="zmdi zmdi-password"></i>
        </div>
        <button (click)="authenticateUser()">Login
          <i class="zmdi zmdi-arrow-right"></i>
        </button>
        <div class="text-right bottom-relative" style="margin-left: 230px;">
          <a href="#" (click)="displayRegisterOrLoginForm($event)" id="registration"> Register
            <i class="fa fa-arrow-right"></i></a>
        </div>
      </form>
    </ng-template>
  </div>
</div>
