<mat-nav-list fxlayout="column">
    <div class="profile-card">
        <img src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="name">
        <div style="font-size: small;">Name</div>
        <div style="font-size: small; padding: 5px;">example@email.com</div>
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLink="/dashboard">
        <mat-icon>dashboard</mat-icon>
        <span class="nav-caption">{{ 'dashboard' | translate }}</span>
    </a>
    <a mat-list-item routerLink="/user">
        <mat-icon>people</mat-icon>
        <span class="nav-caption">Users</span>
    </a>
    <a mat-list-item routerLink="/customer">
        <mat-icon>groups</mat-icon>
        <span class="nav-caption">{{ 'customers' | translate }}</span>
    </a>
    <a mat-list-item routerLink="/orders">
        <mat-icon>note_add</mat-icon>
        <span class="nav-caption">{{ 'orders' | translate }}</span>
    </a>
    <a mat-list-item routerLink="/payments">
        <mat-icon>payment</mat-icon>
        <span class="nav-caption">{{ 'payments' | translate }}</span>
    </a>

    <mat-divider></mat-divider>

    <h2 matSubheader>{{ 'services' | translate }}</h2>

    <a mat-list-item routerLink="/feedback">
        <mat-icon>feedback</mat-icon>
        <span class="nav-caption">Feedbacks</span>
    </a>

</mat-nav-list>