<div class="container">
  <form class="col-md-5">
    <div class="form-group">
      <div class="input-group-append">
        <input type="text" class="form-control" name="searchString" placeholder="Search with Name, Phone & CRN"
          [(ngModel)]="searchString" />
        <button class="btn btn-success" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
      </div>
    </div>
  </form>
  <table *ngIf="customers" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>CRN</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let customer of customers | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize
         | searchFilter : { customerName: searchString, customerPhone: searchString, customerRefNo: searchString } : false">
        <td>{{ customer.customerRefNo }}</td>
        <td>{{ customer.customerName }}</td>
        <td>{{ customer.customerPhone }}</td>
        <td>{{ customer.customerEmail }}</td>
        <td>{{ customer.customerAddress }}</td>
      </tr>
    </tbody>
  </table>
  <ngb-pagination *ngIf="customers" [collectionSize]="customers.length" [(page)]="page" [pageSize]="pageSize"
    aria-label="Default pagination">
  </ngb-pagination>
</div>
